<h1><%=@artist.name%></h1>

<h2>Songs:</h2>
<% @artist.songs.each do |s| %>
  <% @song = Song.find_by_name(s.name) %>
  <h3> <a href="/songs/<%=@song.slug%>"> <%=@song.name%></a> </h3>
<% end %>

<h2> Genres:</h2>
<%@artist.genres.each do |g| %>
  <% @genre = Genre.find_by_name(g.name) %>
  <h3> <a href="/genres/<%=@genre.slug%>"> <%=  @genre.name %></a> </h3>
  <% end %>
